<footer>
  <div id="footer" class="footer">
    <div class="row">
      <div class="col-md-6">  
         <ul class="social_links">
          <li>
             <li><%= link_to "http://linkedin.com/in/daemien-ho", class: "social_links2" do %>
            <%= content_tag(:i, "", class: "fa fa-linkedin fa-3x") %>
            <% end %> </li>

            <li><%= link_to "http://github.com", class: "social_links2" do %>
            <%= content_tag(:i, "", class: "fa fa-github fa-3x") %>
            <% end %> </li>
          </ul>
        </div></div>
          </div>


</footer>
