<div class="container">
	<h1>WHAT DO YOU WANt?</h1>

	<p>If you fill in and submit this form, you'll contact me directly by sending an email to my personal email account. Looking forward to receiving your message so let me know what you want or need from me.</p>

	<form>
	  <div class="form-group">
	    <label for="formGroupExampleInput">Example label</label>
	    <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Please state your business">
	  </div>
	    <div class="form-group">
	    <label for="formGroupExampleInput">Example label</label>
	    <input type="text" class="form-control" id="formGroupExampleInput" placeholder="What is your name?">
	  </div>
	  <div class="form-group">
	    <label for="formGroupExampleInput2">Another label</label>
	    <input type="text" class="form-control" id="formGroupExampleInput2" placeholder="Another input">
	    <br>

	    <button type="submit" class="btn btn-primary">Submit</button>
	  </div>
	</form>
</div>