<div class="picture_me">
  <div class="container">
    <p><a id="readmore" href="" class="btn btn-default center">REad MoRE AbouT ME..</a></p>
  </div>
</div>


<div class="container-fluid">

  <div class="row">
    <div class="col-xs-12 col-md-4 pull-right ">
      <div class="mepic">
        <%= image_tag "dimma.jpg", class: "dimma" %>
      </div>




    <ul>
      <li>About me</li>
      <li>Motivation</li>
      <li>Believes</li>
      <li>Destinations</li>
    </ul></div>
    <div class="col-xs-12 col-md-8">
      <h1 id="about_me">About me!</h1>
        <p><%= t 'index.about' %></p>
    </div>
  </div>
</div>






<!--
<div class="container">
  <h1 id="about_me">About me!</h1>

  <ul class="nav nav-pills nav-justified">
    <li><a href="#about" data-toggle="tab">My Story</a></li>
    <li><a href="#history" data-toggle="tab">My history</a></li>
    <li><a href="#goals" data-toggle="tab">My Goals</a></li>
  </ul>

    <div class="tab-content">

      <div class="tab-pane" id="about">
        <div class="about_me">
          <%= image_tag "mohammed.jpg", class: "intro_pic" %>
            <p>Mijn naam is Daemien Ho en ik ben Ruby developer. Ik ben 25 jaar jong en ik
            </p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consectetur dolores quis nisi architecto. Voluptatibus in debitis delectus fugit neque accusamus tempora, repellendus sit quia enim nostrum nulla expedita recusandae ex!Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloremque possimus ratione placeat fugit nemo, debitis sapiente, explicabo dicta vitae ad et quo in! Perspiciatis asperiores error laboriosam, officiis accusamus repellat.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptates itaque tempore accusamus labore incidunt alias cupiditate corporis officiis sequi quo dolor culpa error, suscipit perferendis minus reprehenderit, aliquam sit nihil
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quae architecto distinctio officia quam praesentium, nesciunt provident, doloremque sit harum deserunt eum quaerat, accusantium qui! Beatae illo molestias, magni excepturi iste.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veniam aliquid deleniti quis accusamus numquam possimus expedita esse dolores harum deserunt reiciendis id repellat cupiditate fuga saepe labore vel, incidunt reprehenderit?.</p>


            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consectetur dolores quis nisi architecto. Voluptatibus in debitis delectus fugit neque accusamus tempora, repellendus sit quia enim nostrum nulla expedita recusandae ex!Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloremque possimus ratione placeat fugit nemo, debitis sapiente, explicabo dicta vitae ad et quo in! Perspiciatis asperiores error laboriosam, officiis accusamus repellat.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptates itaque tempore accusamus labore incidunt alias cupiditate corporis officiis sequi quo dolor culpa error, suscipit perferendis minus reprehenderit, aliquam sit nihil
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quae architecto distinctio officia quam praesentium, nesciunt provident, doloremque sit harum deserunt eum quaerat, accusantium qui! Beatae illo molestias, magni excepturi iste. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deleniti tenetur temporibus sapiente dolorum cumque quod maxime accusantium, modi facere qui amet similique ad laborum, totam, maiores. Adipisci earum pariatur, sequi.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ratione, architecto. Blanditiis optio, culpa, ipsa hic magni maxime omnis facilis nobis error vero dolorum, alias non ipsum at adipisci, laborum quam?Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veniam aliquid deleniti quis accusamus numquam possimus expedita esse dolores harum deserunt reiciendis id repellat cupiditate fuga saepe labore vel, incidunt reprehenderit?.</p>
          </div>
               <i class="fa fa-spinner fa-spin fa-3x fa-fw"></i>
            <span class="sr-only">Loading...</span>
      </div>

      <div class="tab-pane" id="history">
        <div class="container">

          <p>Mijn naam is Daemien Ho en ik ben Ruby developer. Ik ben 25 jaar jong en ik
              </p>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consectetur dolores quis nisi architecto. Voluptatibus in debitis delectus fugit neque accusamus tempora, repellendus sit quia enim nostrum nulla expedita recusandae ex!Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloremque possimus ratione placeat fugit nemo, debitis sapiente, explicabo dicta vitae ad et quo in! Perspiciatis asperiores error laboriosam, officiis accusamus repellat.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptates itaque tempore accusamus labore incidunt alias cupiditate corporis officiis sequi quo dolor culpa error, suscipit perferendis minus reprehenderit, aliquam sit nihil
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quae architecto distinctio officia quam praesentium, nesciunt provident, doloremque sit harum deserunt eum quaerat, accusantium qui! Beatae illo molestias, magni excepturi iste.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veniam aliquid deleniti quis accusamus numquam possimus expedita esse dolores harum deserunt reiciendis id repellat cupiditate fuga saepe labore vel, incidunt reprehenderit?.</p>


              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consectetur dolores quis nisi architecto. Voluptatibus in debitis delectus fugit neque accusamus tempora, repellendus sit quia enim nostrum nulla expedita recusandae ex!Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloremque possimus ratione placeat fugit nemo, debitis sapiente, explicabo dicta vitae ad et quo in! Perspiciatis asperiores error laboriosam, officiis accusamus repellat.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptates itaque tempore accusamus labore incidunt alias cupiditate corporis officiis sequi quo dolor culpa error, suscipit perferendis minus reprehenderit, aliquam sit nihil
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quae architecto distinctio officia quam praesentium, nesciunt provident, doloremque sit harum deserunt eum quaerat, accusantium qui! Beatae illo molestias, magni excepturi iste. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deleniti tenetur temporibus sapiente dolorum cumque quod maxime accusantium, modi facere qui amet similique ad laborum, totam, maiores. Adipisci earum pariatur, sequi.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ratione, architecto. Blanditiis optio, culpa, ipsa hic magni maxime omnis facilis nobis error vero dolorum, alias non ipsum at adipisci, laborum quam?Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veniam aliquid deleniti quis accusamus numquam possimus expedita esse dolores harum deserunt reiciendis id repellat cupiditate fuga saepe labore vel, incidunt reprehenderit?.</p>


          <p>Here is some text to test my programming skills stolen from youtube 2</p>
        </div>
      </div>
      <div class="tab-pane" id="goals">
        <p>Here is some text to test my programming skills stolen from youtube 3</p>
      </div>
    </div>
  </a>
</div>
 -->
