<div class="project_banner">
  <a href="#" class="btn btn-default">See All Projects!</a>


</div>
<div class="container">
  <h1>Projects 2016</h1>
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3"><div class="card">
  <img class="card-img-top" src="http://www.demilked.com/magazine/wp-content/uploads/2014/08/365-days-of-doodles-illustrations-gabriel-picolo-1.jpg" alt="Card image cap">
  <div class="card-block">
    <h4 class="card-title">RubyRubyRuby</h4>
    <p class="card-text">During my time as a student of Le Wagon Coding school. I've Developed a vacancy website especially made for Ruby developers.</p>
    <a href="http://www.rubyrubyruby.com" class="btn btn-primary">Go And See</a>
  </div>
</div></div>
    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3"><div class="card">
  <img class="card-img-top" src="http://www.demilked.com/magazine/wp-content/uploads/2014/08/365-days-of-doodles-illustrations-gabriel-picolo-1.jpg" alt="Card image cap">
  <div class="card-block">
    <h4 class="card-title">Blog page</h4>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <a href="#" class="btn btn-primary">Go somewhere</a>
  </div>
</div></div>
    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3"><div class="card">
  <img class="card-img-top" src="http://www.demilked.com/magazine/wp-content/uploads/2014/08/365-days-of-doodles-illustrations-gabriel-picolo-1.jpg" alt="Card image cap">
  <div class="card-block">
    <h4 class="card-title">Healthy Workers</h4>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <a href="#" class="btn btn-primary">Go somewhere</a>
  </div>
</div></div>
    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3"><div class="card">
  <img class="card-img-top" src="http://www.demilked.com/magazine/wp-content/uploads/2014/08/365-days-of-doodles-illustrations-gabriel-picolo-1.jpg" alt="Card image cap">
  <div class="card-block">
    <h4 class="card-title">Laundry Industry</h4>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <a href="#" class="btn btn-primary">Go somewhere</a>
  </div>
</div></div>
  </div>
</div>
