//
.pic {
  background-color: rgb(11,153,213);
}
.pad {
  padding: 90px;
  justify-content: center;
}

.profilepic{
  width: cover;
  margin-right: 15px;
  border-radius: 50%;
  width: 300px;
  height: 300px;
}
.em {
  font-style: italic;
}


.center {
  text-align: center;
}

.pull-right {
  position: relative;
}

.logol {
  max-width: 30px;
  max-height: 30px;
}


.boos {
  background-color: black;
}

.now {
  border-radius: 4px;
  background-color: white;
}

.space {
  height: 200px;
}

h3 {
  font-weight: bold;
}

.bold {
  font-weight: bold;
}
.iconss {
  font-size: 80px;
}

.col-content {
  align-content: center;
  text-align: center;
}
.pinfo {
  color: black;
}

.pinfo-a li {
  list-style-type: none;
}
a.remove_link {
  color: black;
}