//
.profilepic{
  width: 40%;
  margin-right: 15px;
}

.space{
  height: 120px;
}

.cards{
  width: 100%;
  text-align: left;
}

.center {
  text-align: center;
}
.pinfo ul{
  list-style-type: none;
  font-size: 20px;

}
.pull-right {
  position: relative;
}

.logol {
  max-width: 30px;
  max-height: 30px;
}
